{% macro page_in_list(page) %}
                    <header class="entry-header">
                        <h2>{{ page.title }}</h2>
                    </header>
                    {% if page.summary %}<section class=entry-content>
                        {{ page.summary | safe }}
                    </section>{% endif %}
                    <footer class="entry-footer">
                        <time>{{ page.date | date(format="%B %e, %Y") }}</time>
                    </footer>
                    <a class="entry-link" href="{{ page.permalink }}"></a>
{% endmacro page_in_list %}